
<link rel="stylesheet" href="main.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<section class='calculator-container'>
<div class="left-container">
    
<div class="steps-container">
  
    <div class="circle-1">  1</div>
    <div class="circle-2"> 2</div>
    <div class="circle-3"> 3</div>
    <div class="circle-4"> 4</div>
</div>
<div class="options-container">
    <h2 class="title-steps"></h2>
<ul class="options-list">
</ul>
<div class="buttons-container">
<a id='calorie-back'> <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
<a id='calorie-next'>Next <i class="fa fa-angle-right" aria-hidden="true"></i> </a>

</div>

</div>

</div>
<div class="right-container">
</div>
</section>

<script defer type="module" src='../js/main.js'> </script>

